@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-card-background {
  background: center no-repeat
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    calc(-50vw + 650px) -6rem/105vw auto no-repeat url(../assets/img/pope-francis.png);
}

.votation-card-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.603536482952556) 0%,
    rgba(0, 0, 0, 0.695973457742472) 30%,
    rgba(0, 0, 0, 0.7968137938769257) 60%,
    rgba(0, 0, 0, 0.603536482952556) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
